@import "variable";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zilla+Slab:ital@1&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $negro;
    background-color: $amarillo;
    align-items: stretch;
}
.estiloImg {
    width: 300 px;
    height: 300 px;
    text-align: center;
    border: 5px solid $amarillo;
    margin: 1.3em;
}

.logo {
    width: 35px;
    height: 35px;
}
.redsocial--instagram{
    width: 35px;
    height: 35px;
}
.redsocial--facebook{
    width: 35px;
    height: 35px;
}

.descripProduc {
    margin: 20px;
}

.styleButtom {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.alineaTitulo {
    text-align: center;
}

.divTop {
    margin-top: 50px;
}

.divBottom {
    margin-bottom: 50px;
}

.footerTitulo {
    color: $violeta;
}

.fondoVioleta {
    background-color: $violeta;
}
//maps para los botones de inicio
$productos:(
    teclado: $amarillo,
    auricular: $violeta,
    silla: $negro,
    mouse: $marron,
);
@each $produc, $color in $productos{
    .btn--#{$produc}{
        background-color: $color;
    }
}

//extends para las redes sociales del footer

.redSocial{
    border: 2px solid;
}

.redsocial--instagram{
   @extend .redSocial;
   color: $amarillo;
}

.redsocial--facebook{
    @extend .redSocial;
    color: $violeta;
 }

 //mixin para los titulos del footer
 
 @mixin tamaño($text){
    text-transform: $text;
 }

 .footerTitulo{
     @include tamaño(uppercase);
 }